body,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 5vw;
}

label {
    display: block;
}


label>input[type="radio"] {
    display: none;
}

h1 {
    margin: 5vw 0;
    padding: 0;
    font-size: 10vw;
}

h1 sup {
    font-weight: normal;
    font-style: italic;
}

h2 {
    margin-top: 0;
    margin-bottom: 3vw;
}

.widget h2 {
    float: left;
}

.hidden .switcher {
    display: none;
}

#period .toggle-settings,
.hidden .toggle-settings {
    display: none;
}

#section-amount {
    display: flex;
    margin-bottom: 5vw;
}

.reset-amount {
    flex-grow: 1;
    font-size: 10vw;
    width: max-content;
    background: none;
    border: none;
    margin: 0;
    padding: 0 2vw;
    text-align: right;
    cursor: pointer;
    color: #000;
}

input.amount,
input.count {
    user-select: none;
    font-size: 9vw;
    text-align: left;

    border: 1px solid #000;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input.amount {
    width: 70%;
}

input.count {
    width: 30%;
}

input.number::placeholder {
    font-size: 6vw
}

.switcher {
    display: flex;
    flex-direction: column;
    clear: both;
}

.toggle-settings {
    float: right;
    margin-top: 0;
    line-height: 6vw;
}

.widget {
    clear: both;
    margin-bottom: 5vw;
}

#amountSection .inline>* {
    display: flex;
    flex-grow: 1;
}


.switcher .label,
.switcher .convert {
    font-size: 5vw;
    border: 1px solid #000;
    border-radius: 5vw;
    padding: 2vw 3vw;
}

.switcher .convert {
    position: absolute;
    left: 20vw;
    display: none;
}


.switcher.currency .unused {
    display: none;
}

.switcher label {
    position: relative;
    font-size: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.settings .toggle-settings::before {
    content: "Close ";
}

.switcher.currency .label {
    font-variant: all-small-caps;
}


section:not(.settings) .switcher label:has(input[type="radio"]:checked) {
    background-color: #f0f0f0;
    margin-left: -5vw;
    padding-left: 5vw;
    margin-right: -5vw;
    padding-right: 5vw;
}

#switcher-currency .convert {
    display: inline;
}

.toggle {
    position: absolute;
    left: 20vw;
    display: none;
    font-size: 5vw;
    border: 1px solid #000;
    border-radius: 5vw;
    padding: 2vw 3vw;
    background: #fff;
}

.toggle::before {
    content: 'on';
    color: #000;
}
.toggle::after {
    content: 'off';
    color: #fff;
}
.unused .toggle {
    background: #000;
}

.settings #switcher-currency .toggle {
    display: inline;
}


.settings .switcher .unused {
    display: flex;
}

.settings #switcher-currency .convert,
#switcher-currency label:has(input[type="radio"]:checked) .convert {
    display: none;
}

.settings .switcher .label,
.switcher input[type="radio"]:checked~.label {
    border: 1px solid transparent;
    background: none;
}

.switcher .amount {
    flex-grow: 1;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}

.switcher .amount .in-currency {
    flex-grow: 1;
    text-align: right;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

.howto-icon {
    max-height: 6vw;
    max-width: 12vw;
    display: inline-block;
    padding: 0 1vw;
    vertical-align: bottom;
}

.install {
    line-height: 6vw;
}

.standalone .install {
    display: none;
}

@media all and (display-mode: standalone) {
    .install {
        display: none;
    }
}
